<template>
 <div id="app">
  <v-app id="inspire">
    <v-flex lg8>
      <v-select
        :items="profiles"
        v-model="selectedData"
        label="Search teacher/s"
        item-text="name"
        item-value="name"
        max-height="300"
        solo
        autocomplete
      >
        <template slot="item" slot-scope="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-avatar>
              <img :src="data.item.image">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
              <!-- <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title> -->
            </v-list-tile-content>
          </template>
        </template>
      </v-select>
      {{selectedData}}
    </v-flex>
  </v-app>
</div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->



<script>
new Vue({
  el: '#app',
  data: () => ({
    selectedData: null,
    profiles: [
      {
        id: 1,
        name: 'kent',
        image: 'http://2.bp.blogspot.com/-xrUO1c4D2U0/TmpxHAMjZxI/AAAAAAAAAD4/LdRHhCCtr8w/s1600/orangotango.jpg'
      },
      {
        id: 2,
        name: 'tin',
        image: 'http://2.bp.blogspot.com/-xrUO1c4D2U0/TmpxHAMjZxI/AAAAAAAAAD4/LdRHhCCtr8w/s1600/orangotango.jpg'
      },
      {
        id: 3,
        name: 'joy',
        image: 'http://2.bp.blogspot.com/-xrUO1c4D2U0/TmpxHAMjZxI/AAAAAAAAAD4/LdRHhCCtr8w/s1600/orangotango.jpg'
      }
    ]
  })
})
</script>
\ \ 