<template>
  <full-calendar class="calendar" :config="config" :events="events"/>
</template>

<script>
  import moment from 'moment'
  export default {
    name: 'hello',
    data () {
      return {
        events: [
          {
            title: 'Team building @ Isla Reta',
            allDay: true,
            start: '2018-07-20',
            end: '2018-07-23'
          },
          {
            title: 'Spa Day',
            allDay: true,
            start: moment(),
            end: moment().add(1, 'd')
          },
          {
            title: 'Renew gym membership',
            allDay: true,
            start: moment(),
            end: moment().add(1, 'd')
          },
          {
            title: 'Dental appointment',
            allDay: true,
            start: moment(),
            end: moment().add(1, 'd')
          },
          {
            title: 'Lunch with Company, Inc. CEO',
            start: moment().add(2, 'd'),
            end: moment().add(2, 'd').add(2, 'h')
          },
          {
            title: 'New Year!',
            start: '2018-01-01'
          },
          {
            title: 'Chinese New Year',
            start: '2018-02-16'
          },
          {
            title: 'People Power Revolution',
            start: '2018-02-25'
          },
          {
            title: 'Maundy Thursday',
            start: '2018-03-29'
          },
          {
            title: 'Good Friday',
            start: '2018-03-30'
          },
          {
            title: 'Black Saturday',
            start: '2018-03-31'
          },
          {
            title: 'Ninoy Aquino Day',
            start: '2018-08-21'
          },
          {
            title: 'Eid al-Adha',
            start: '2018-08-22'
          },
          {
            title: 'National Heroes Day',
            start: '2018-08-27'
          },
          {
            title: 'All Saints Day',
            start: '2018-11-01'
          },
          {
            title: 'Bonifacio Day',
            start: '2018-11-30'
          },
          {
            title: 'Christmas Eve',
            start: '2018-12-24'
          },
          {
            title: 'Christmas Day',
            start: '2018-12-25'
          }
        ],
        config: {
          defaultView: 'month',
          eventRender: function (event, element) {
            console.log(event)
          }
        }
      }
    }
  }
</script>
