<template>
  <v-layout row wrap>
 

    <div v-show="event == true"
    id="e1"
    style="width: 1300px; margin: auto;"
    class="grey lighten-3"
  >
    <v-card>
      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
      <h1 >Dashboard</h1>
        <v-layout>
          <v-flex d-flex xs4>
            <v-card :hover="!hover" light class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex >
                    <v-list>
                      <v-list-tile-content>
                        <v-list-tile-title>Active Employees</v-list-tile-title>
                        <v-list-tile-sub-title>First Quarter of 2018</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list>
                  </v-flex>
                  <v-progress-circular
                      :rotate="360"
                      :size="75"
                      :width="10"
                      :value="value"
                      color="light-green"
                    >
                    15
                  </v-progress-circular>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs4>
            <v-card :hover="!hover" light class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex >
                    <v-list>
                      <v-list-tile-content>
                        <v-list-tile-title>New Applicants</v-list-tile-title>
                        <v-list-tile-sub-title>Urgent: 3 Night Shift Admins</v-list-tile-sub-title>
                        <v-list-tile-sub-title>Urgent: Office Administrators</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list>
                  </v-flex>
                  <v-progress-circular
                      :rotate="180"
                      :size="75"
                      :width="10"
                      :value="value"
                      color="red lighten-1"
                    >
                    23
                 </v-progress-circular>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs4>
            <v-card :hover="!hover" light class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex >
                    <v-list>
                      <v-list-tile-content>
                        <v-list-tile-title>Inactive Employees</v-list-tile-title>
                        <v-list-tile-sub-title>On leave/Vacation</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list>
                  </v-flex>
                  <v-progress-circular
                      :rotate="90"
                      :size="75"
                      :width="10"
                      :value="value"
                      color="orange lighten-1"
                    >
                    2/15
                  </v-progress-circular>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
        <br>
        <br>
<v-layout>  
<!-- New Employees -->
  <v-flex d-flex xs4>
    <v-card>
      <v-container
      fluid
      id="scroll-target"
      style="max-height: 330px;"
      class="scroll-y"
        >
       <v-layout
         v-scroll:#scroll-target="onScroll"
         column
       >
        <v-list three-line>
          <template v-for="(employee, index) in employees">
            <v-subheader v-if="employee.header">{{ employee.header }}</v-subheader>
            <v-divider v-else-if="employee.divider" :inset="employee.inset" :key="index"></v-divider>
            <v-list-tile v-else @click="">
              <v-list-tile-avatar class="pt-3">
                <img :src="employee.src">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="employee.name"></v-list-tile-title>
                <v-list-tile-sub-title v-html="employee.position"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
       </v-layout>
    </v-container>
    </v-card>
  </v-flex>
<!-- Pending Requirements -->
  <v-flex d-flex xs4>
    <v-card>
      <v-container
      fluid
      id="scroll-target"
      style="max-height: 330px"
      class="scroll-y"
        >
       <v-layout
         v-scroll:#scroll-target="onScroll"
         column
       >
        <v-list three-line>
          <template v-for="(requirement, index) in requirements">
            <v-subheader v-if="requirement.header" :key="requirement.header">{{ requirement.header }}</v-subheader>
            <v-divider v-else-if="requirement.divider" :inset="requirement.inset" :key="index"></v-divider>
            <v-list-tile v-else :key="requirement.name" avatar @click="">
              <v-list-tile-avatar>
                <img :src="requirement.src">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="requirement.name"></v-list-tile-title>
                <v-list-tile-sub-title style="color: #E57373;" v-html="requirement.pending"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
       </v-layout>
    </v-container>
    </v-card>
  </v-flex>
<!-- Calendar holidays -->
  <v-flex d-flex xs4>
    <v-card>
      <v-container
      fluid
      id="scroll-target"
      style="max-height: 330px"
      class="scroll-y"
   >
     <v-layout
       v-scroll:#scroll-target="onScroll"
       column
     >
     <v-list three-line>
       <template v-for="(holiday, index) in holidays">
       <v-subheader v-if="holiday.header" :key="holiday.header">{{ holiday.header }}</v-subheader>
       <v-divider v-else-if="holiday.divider" :inset="holiday.inset" :key="index"></v-divider>
         <v-list-tile v-else :key="holiday.event" avatar @click="">
           <v-list-tile-content>
           <v-list-tile-title v-html="holiday.event"></v-list-tile-title>
           <v-list-tile-sub-title v-html="holiday.date"></v-list-tile-sub-title>
           </v-list-tile-content>
         </v-list-tile>
       </template>
     </v-list>
     </v-layout>
    </v-container>
  </v-card>
 </v-flex>
</v-layout>
<br>
<!-- Graph -->
<charts></charts>
<v-layout row wrap>
  <v-flex d-flex xs6>
    <v-card :hover="!hover" class="ml-3 mx-4">
       <v-card-title>This Year</v-card-title>
      <bar-chart
        :chart-data="barChartData"
        :height="250">
      </bar-chart>
    </v-card>
  </v-flex>
  <v-flex d-flex xs6>
        <v-card :hover="!hover" class="ml-3 mx-4">
           <v-card-title>Designation</v-card-title>
          <pie-chart
            :chart-data="pieChartData"
            :height="250">
          </pie-chart>
        </v-card>
  </v-flex>
</v-layout>
      </v-container>
    </v-card>
  </div>

 
  </v-layout>
</template>

<script>
  export default {
    data: () => {
      return {
        dialog: false,
        e1: null,
        interval: {},
        value: 0,
        employees: [
          { header: 'New Employee' },
          { src: require('@/assets/joy.png'), name: 'CJ Rosatace', position: 'Programmer' },
          { divider: true, inset: true },
          { src: require('@/assets/kent.png'), name: 'Kent Fueconcillo', position: 'Programmer' },
          { divider: true, inset: true },
          { src: require('@/assets/anne.png'), name: 'Rachel Ann Navarro', position: 'Secretary' },
          { divider: true, inset: true },
          { src: require('@/assets/mikaela.png'), name: 'Mikaela Cornejo', position: 'Mercenary' }
        ],
        requirements: [
          { header: 'Pending Requirements' },
          { src: require('@/assets/joy.png'), name: 'CJ Rosatace', pending: 'SSS, Pag-ibig, PhilHealth' },
          { divider: true, inset: true },
          { src: require('@/assets/kent.png'), name: 'Kent Fueconcillo', pending: 'SSS, PhilHealth' },
          { divider: true, inset: true },
          { src: require('@/assets/mikaela.png'), name: 'Mikaela Cornejo', pending: 'Pag-ibig, PhilHealth' }
        ],
        holidays: [
          { header: 'Calendar holidays' },
          { event: 'New Year Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>January 1, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'New Year Holiday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>January 2, 2018</span> &mdash; Regular Holiday" },
          { event: 'Iking`s Birthday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>January 6, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { divider: true },
          { event: 'Chinese New Year<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>Febuary 16, 2018</span> &mdash; Special Non-working day" },
          { divider: true },
          { event: 'People Power Revolution<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>February 25, 2018</span> &mdash; Special Holiday" },
          { divider: true },
          { event: 'Maundy Thursday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>March 29, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Good Friday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>March 30, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Black Saturday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>March 31, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Day of Valor<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>April 9, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Labor Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>May 1, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Independence Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>June 12, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Eid`l fitropo<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>June 15, 2018</span> &mdash; The Feast of Ramadan" },
          { divider: true },
          { event: 'Ninoy Aquino Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>August 21, 2018</span> &mdash; Special Non-working Holiday" },
          { divider: true },
          { event: 'National Heroes Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>August 27, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'All Saints Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>November 1, 2018</span> &mdash; Special Non-working Holiday" },
          { divider: true },
          { event: 'Bonifacio Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>November 30, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Christmas Eve<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 24, 2018</span> &mdash; Additional Special Non-working Holiday" },
          { divider: true },
          { event: 'Christmas Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 25, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Rizal Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 30, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'New Years Eve<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 31, 2018</span> &mdash; Special Non-working Holiday" }
        ],
        event: true,
        onScroll: null,
        hover: false
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    mounted () {
      this.interval = setInterval(() => {
        this.value = 23
      }, 1000)
    },
    methods: {
      say: function (message) {
        alert(message)
      },
      update (payload) {
        this.event = payload
                  // },
                  // payroll () {
                  //   this.$eventHub.$emit(PAYROLL, true)
      }
    },
    computed: {
      barChartData: function () {
          // Transforms API data into the chart data format
        return {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
          datasets: [
            {
              label: 'Income',
              data: [13, 19, 25, 28, 36, 41, 43, 51, 55, 61, 66, 75],
              backgroundColor: [
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A',
                '#8BC34A'
              ]
            },
            {
              label: 'Expenses',
              data: [15, 23, 26, 32, 39, 41, 47, 54, 58, 65, 69, 80],
              backgroundColor: [
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB'
              ]
            }
          ]
        }
      },
      pieChartData: function () {
        return {
          labels: ['Inusrance', 'Utilities', 'Payroll'],
          datasets: [
            {
              backgroundColor: [
                '#FFA726',
                '#EF5350',
                '#1E88E5'
              ],
              data: [40, 20, 80]
            }
          ]
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
v-progress-circular
    margin: 5rem

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');
h1, span{
  font-family: 'Roboto Condensed', sans-serif;
}
.dialog{
  box-shadow: 0px 0px 40px black;
  margin: auto;
}

.regSave{
  color: white;
  text-decoration: none;
}

</style>

