<template>
<v-container fluid grid-list-md>
<h1>FAQs</h1>
<v-flex lg12>
      <v-select
        :items="profiles"
        v-model="selectedData"
        label="Enter query...."
        item-text="name"
        item-value="name"
        max-height="300"
        clearable
        autocomplete
      >
        <template slot="item" slot-scope="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-content>
              <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
            </v-list-tile-content>
          </template>
        </template>
      </v-select>
    </v-flex>
  <v-layout row>
    <v-flex xs12 sm6 md4>
      <v-card hover>
        <v-card-media
          src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/22519148_528430060832374_5729901924078129007_n.png?_nc_cat=0&oh=dd1b85451d7a1a8bf2f3b3ffeb60c583&oe=5BCB2DA9"
          height="200px"
        >
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">What is Infosoft?</div>
            <span class="grey--text">Read about our Vision, Mission, and Goals.</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat>Share</v-btn>
          <v-btn flat color="purple">Explore</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click="faq = !faq">
            <v-icon>{{ faq ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="faq">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <v-card hover>
        <v-card-media
          src="http://em-group.net/images/4.jpg"
          height="200px"
        >
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">What services do you offer?</div>
            <span class="grey--text">We offer a variety of services...</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat>Share</v-btn>
          <v-btn flat color="purple">Explore</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click="faq1 = !faq1">
            <v-icon>{{ faq1 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="faq1">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <v-card hover>
        <v-card-media
          src="http://worldprintmediasupplies.com/wp-content/uploads/2015/11/Full-Tec-services.jpg"
          height="200px"
        >
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">Who founded Infosoft?</div>
            <span class="grey--text">Meet the genius behind the company.</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat>Share</v-btn>
          <v-btn flat color="purple">Explore</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click="faq2 = !faq2">
            <v-icon>{{ faq2 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="faq2">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout row>
    <v-flex xs12 sm6 md4>
      <v-card hover>
        <v-card-media
          src="https://www.projecttimes.com/media/k2/items/cache/6612da61425d98755836902a8bde1bce_XL.jpg"
          height="200px"
        >
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">How many people are in your team?</div>
            <span class="grey--text">The company is divided into...</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat>Share</v-btn>
          <v-btn flat color="purple">Explore</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click="faq3 = !faq3">
            <v-icon>{{ faq3 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="faq3">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <v-card hover>
        <v-card-media
          src="http://mkenyaujerumani.de/wp-content/uploads/2015/01/internship.jpg"
          height="200px"
        >
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">Do you accept internship applications?</div>
            <span class="grey--text">We sure do! We welcome students...</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat>Share</v-btn>
          <v-btn flat color="purple">Explore</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click="faq4 = !faq4">
            <v-icon>{{ faq4 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="faq4">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <v-card hover>
        <v-card-media
          src="http://www.beuc.eu/sites/default/files/consumerrights-shaking_hands_2.jpg"
          height="200px"
        >
        </v-card-media>

        <v-card-title primary-title>
          <div>
            <div class="headline">Where can I find the company portfolio?</div>
            <span class="grey--text">You can view our portfolio by browsing...</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat>Share</v-btn>
          <v-btn flat color="purple">Explore</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click="faq5 = !faq5">
            <v-icon>{{ faq5 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="faq5">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
/* eslint-disable */
  export default {
    data: () => ({
    selectedData: null,
      faq: false,
      faq1: false,
      faq2: false,
      faq3: false,
      faq4: false,
      faq5: false,
      profiles: [
      {
        id: 1,
        name: 'What is Infosoft?',
      },
      {
        id: 2,
        name: 'What services do you offer?',
      },
      {
        id: 3,
        name: 'Who founded Infosoft?',
      },
      {
        id: 4,
        name: 'How many people are in your team?',
      },
      {
        id: 5,
        name: 'Do you accept internship applications?',
      },
      {
        id: 6,
        name: 'Where can I find the company portfolio?',
      }
    ]
    })
  }
</script>