<template>
  <div style="width: 1000px; margin: auto;"
    class="grey lighten-3">
    <v-toolbar flat color="teal">
      <v-toolbar-title >Employee's Records</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>

      <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <v-btn slot="activator" color="primary" dark class="mb-2">New Item</v-btn>
        
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.name" label="Employee Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.age" label="Age"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.date_of_birth" label="Date of Birth"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.birth_place" label="Birth Place"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.status" label="Status"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="employee"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.age }}</td>
        <td class="text-xs-right">{{ props.item.date_of_birth }}</td>
        <td class="text-xs-right">{{ props.item.birth_place }}</td>
        <td class="text-xs-right">{{ props.item.status }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      
    </v-data-table>
  </div>

</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Age', value: 'age' },
        { text: 'Date of Birth', sortable: false, value: 'date_of_birth' },
        { text: 'Birth Place', sortable: false, value: 'birth_place' },
        { text: 'Status', sortable: false, value: 'status' },
        { text: 'Action', value: 'name', sortable: false }
      ],
      employee: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        age: 0,
        date_of_birth: 0,
        birth_place: 0,
        status: ''
      },
      defaultItem: {
        name: '',
        age: 0,
        date_of_birth: 0,
        birth_place: 0,
        status: ''
      }
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.employee = [
          {
            name: 'Shaina Ceniza',
            age: 19,
            date_of_birth: 6.0,
            birth_place: 24,
            status: 12
          },
          {
            name: 'Ira Mae Gamban',
            age: 19,
            date_of_birth: 9.0,
            birth_place: 37,
            status: 12
          },
          {
            name: 'Adrian Pacon',
            age: 90,
            date_of_birth: 16.0,
            birth_place: 23,
            status: 12
          },
          {
            name: 'Berwyn Dejanio',
            age: 19,
            date_of_birth: 3.7,
            birth_place: 67,
            status: 20
          },
          {
            name: 'Rex John Aragon',
            age: 19,
            date_of_birth: 16.0,
            birth_place: 49,
            status: 20
          },
          {
            name: 'Leonard Adam Lustre',
            age: 19,
            date_of_birth: 0.0,
            birth_place: 94,
            status: 20
          },
          {
            name: 'Jhaycee Gonzales',
            age: 19,
            date_of_birth: 0.2,
            birth_place: 98,
            status: 20
          },
          {
            name: 'Kim Clarizze Remolta',
            age: 19,
            date_of_birth: 3.2,
            birth_place: 87,
            status: 20
          },
          {
            name: 'Moana Dubay Jickain',
            age: 19,
            date_of_birth: 25.0,
            birth_place: 51,
            status: 20
          },
          {
            name: 'Shaina Gwapa',
            age: 19,
            date_of_birth: 26.0,
            birth_place: 65,
            status: 20
          }
        ]
      },

      editItem (item) {
        this.editedIndex = this.employee.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.employee.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.employee.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.employee[this.editedIndex], this.editedItem)
        } else {
          this.employee.push(this.editedItem)
        }
        this.close()
      }
    }
  }
</script>