<template>
  <v-container fluid >
    <h1>Payroll</h1>
      <v-layout column>
          <h4 class="border">Employee Info</h4>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-select
              :items= "emp_name"
              v-model= "names"
              label= "Employee Name"
              item-text="name"
              single-line
              return-object
            ></v-select>
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "sss_number"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : sssNum(names.sss_number)"
              label="SSS No."
              :readonly="true"
            ></v-text-field>
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "department"
              label= "Department"
              v-bind:class= "names == null ? '' : dept(names.department)"
              :readonly="true"
            ></v-text-field>
          </v-flex>

        </v-layout>
        
        <v-layout row wrap>
          
          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "emp_num"
              placeholder= "-----"
              label= "Employee No."
              v-bind:class= "names == null ? '' : empNum(names.emp_num)"
              :readonly="true"
            ></v-text-field>
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "tin_number"
              placeholder= "-----"
              v-bind:class= "names == null ? '' : tinNum(names.tin_number)"
              label="Tin No."
              :readonly= "true"
            ></v-text-field>
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "date_hired"
              v-bind:class= "names == null ? '' : hired(names.date_hired)"
              label= "Date Hired"
              :readonly= "true"
            ></v-text-field>
          </v-flex>

        </v-layout>

        <v-layout row wrap>
          
          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "cash_no"
              v-bind:class= "names == null ? '' : cashNum(names.cash_no)"
              label="Cash Card No."
              :readonly="true"
            ></v-text-field>
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "wDays"
              label="Working Days"
              v-bind:class= "names == null ? '' : workDays(names.wDays)"
              :readonly="true"
            ></v-text-field>
          </v-flex>

          <v-flex lg4 md6 xs12 style="padding: 5px;">
            <v-text-field
              v-model= "emp_salary1"
              :placeholder= "emp_salary"
              v-bind:class= "names == null ? '' : value(names.salary)"
              label="Employee Salary"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap >
          <v-flex lg6 md6 xs12>

            <H3 class="row border">Earnings</H3>
            
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="num_ot"
                  label="No. Overtime Hours"
                  placeholder="0"
                  id="testing"
                 ></v-text-field>
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "ot"
                    label="Amount"
                    id="testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex style= "padding: 5px;margin-top:-20px">
                Regular Holidays
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg3 md3 xs12 style= "padding: 5px;">
                <v-text-field
                  v-model= "reg_hour"
                  label="Hours"
                  placeholder="0"
                  id="testing"
                 ></v-text-field>
              </v-flex>
          
              <v-flex lg3 md3 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "reg_ot"
                    placeholder="0"
                    label= "OT Hours"
                    id= "testing"
                ></v-text-field>
              </v-flex>

              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "reg_pay"
                    label= "Amount"
                    id= "testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout>
              <v-flex style="padding: 5px;margin-top:-20px">
                Special Holidays
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg3 md3 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "sp_hour"
                  label="Hours"
                  placeholder="0"
                  id="testing"
                 ></v-text-field>
              </v-flex>
          
              <v-flex lg3 md3 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "sp_ot"
                    placeholder="0"
                    label="OT Hours"
                    id="testing"
                ></v-text-field>
              </v-flex>

              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "sp_pay"
                    label= "Amount"
                    id= "testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg12 md12 xs12>
                <b>Employer Contributions</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "sss_pr"
                  :placeholder= "sss_p"
                  v-bind:class= "names == null ? '' : sssPremium(names.sss_p)"
                  label= "SSS Premium"
                  id= "testing"
              ></v-text-field>
              </v-flex>
          
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "phil_health1"
                  :placeholder= "phil_health"
                  v-bind:class= "names == null ? '' : philhealth(names.phil_health)"
                  label= "Philhealth"
                  id= "testing"
              ></v-text-field>
              </v-flex>

              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "hdmf_pr"
                  :placeholder= "hdmf_p"
                  v-bind:class= "names == null ? '' : hdmfPremium(names.hdmf_p)"
                  label= "HDMF Premium"
                  id= "testing"
              ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg3 md6 xs12 style="padding: 5px;">
                  <p style="margin-top:20px">Total Benefits:</p>
              </v-flex>
              <v-flex lg9 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "total_benefits"
                    label= "Amount"
                    id= "testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>
            
          </v-flex>

          <v-flex lg6 md6 xs12>
            <h3 class="row border">Deduction</h3>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "num_absent"
                  label= "No. of Absent"
                  placeholder="0"
                  id= "testing"
                 ></v-text-field>
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model= "absences"
                    label= "Amount"
                    id= "testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex style= "padding: 5px;margin-top:-20px">
                <b style= "color:white">.</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "num_halfday"
                  label= "No. of Halfdays"
                  placeholder="0"
                  id= "testing"
              ></v-text-field>
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model= "halfdays"
                  label= "Amount"
                  id= "testing"
                  :readonly = 'true'
              ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex style="padding: 5px;margin-top:-20px">
                <b style="color:white">.</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="num_lates"
                  label="No. of Late"
                  placeholder="0"
                  id="testing"
               ></v-text-field>
              </v-flex>
          
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model="lates"
                    label="Amount"
                    id="testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg12 md12 xs12>
                <b>Employee Contributions</b>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="sss1"
                  :placeholder="sss"
                  v-bind:class="names == null ? '' : ssSystem(names.sss)"
                  label="SSS Contribution"
                  id="testing"
              ></v-text-field>
              </v-flex>
          
              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="pag_ibig1"
                  :placeholder="pag_ibig"
                  v-bind:class="names == null ? '' : pagIbig(names.pag_ibig)"
                  label="Pag-ibig Contribution"
                  id="testing"
              ></v-text-field>
              </v-flex>

              <v-flex lg4 md4 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="hdmf1"
                  :placeholder="hdmf"
                  v-bind:class="names == null ? '' : hdmfContribution(names.hdmf)"
                  label="HDMF Contribution"
                  id="testing"
              ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                  v-model="ca"
                  label="Cash Advance"
                  placeholder="0"
                  id="testing"
                 ></v-text-field>
              </v-flex>
              <v-flex lg6 md6 xs12 style="padding: 5px;">
                <v-text-field
                    v-model="ca"
                    label="Amount"
                    id="testing"
                    :readonly = 'true'
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-flex>

        </v-layout>
        
        <v-layout row wrap style="text-align:center">
          <v-flex lg4 md4 xs12>
            <v-layout class="border" style="border:1px solid gray">
              <v-flex lg4>
                <h3>Earnings:</h3>
              </v-flex>
              <v-flex lg8>
                <p style="margin-left:100px; font-size:15px;margin-top:5px;margin-bottom:3px;">{{total_earnings}}</p>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg4 md4 xs12>
            <v-layout class="border" style="border:1px solid gray">
              <v-flex lg6>
                <h3>Total Deductions:</h3>
              </v-flex>
              <v-flex lg6>
                <p style="margin-left:100px; font-size:15px;margin-top:5px;margin-bottom:3px;">{{total_deduction}}</p>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex lg4 md4 xs12>
            <v-layout class="border" style="border:1px solid gray">
              <v-flex lg6>
                <h3>Net Pay:</h3>
              </v-flex>
              <v-flex lg6 style="text-align:right">
                <b style="margin-left:100px; font-size:19.5px;">{{net_pay}}</b>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-layout>
      <v-layout row justify-end>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn slot="activator" color="primary" dark>Print</v-btn>
        <v-card>

          <v-layout justify-end>
            <v-btn icon dark small color="primary" @click.native="dialog = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-layout>
          <v-divider></v-divider>

    <v-container grid-list-lg style="width:80%;font-size:20px; border: 1px solid">
            <v-layout justify-center>
              <p  style="margin-top:10px;font-size:25px">Infosoft Studio</p><br>
            </v-layout>
            <v-layout class="space" justify-center>
              <p style="margin-top:-20px;font-size:15px">Door 3-6, 2nd floor, FTC Tower, Mt. Apo St. Davao City</p><br>
            </v-layout>
            <v-layout  class="space" justify-center>
              <p style="margin-top:-20px;font-size:15px">Tel. No.: (082) 305-6465</p><br>
            </v-layout>
            <hr>

      <v-layout row wrap>
        
        <v-flex xs12 text-xs-center>
          {{date}}
        </v-flex>
      </v-layout>
              <hr>
      <v-layout row wrap>
        <v-flex xs4>
          Employee Name: <b>{{names == null ? '' : names.name}}</b>
        </v-flex>
        <v-flex xs4>
          SSS: <b>{{sss_number}}</b>
        </v-flex>
        <v-flex xs4>
          Department: <b>{{department}}</b>
        </v-flex>

        <v-flex xs4>
          Employee No.: <b>{{emp_num}}</b>
        </v-flex>
        <v-flex xs4>
          Tin: <b>{{tin_number}}</b>
        </v-flex>
        <v-flex xs4>
          Date Hired: <b>{{date_hired}}</b>
        </v-flex>

        <v-flex xs4>
          Cash Card no.: <b>{{cash_no}}</b>
        </v-flex>
        <v-flex xs4>
          Working Days: <b>{{wDays}}</b>
        </v-flex>
        <v-flex xs4>
          Employees Salary: <b>{{(this.emp_salary1 == null ? this.emp_salary : this.emp_salary1)}}</b>
        </v-flex>
      </v-layout>
      <br>
      <hr>
      <br>
      <v-layout row wrap>
        <v-flex xs4>
          <h4>Earnings</h4>
        </v-flex>
        <v-flex xs2>
          <h4 style="text-align:right">Amount</h4>
        </v-flex>
        <v-flex xs4>
          <h4>Deductions</h4>
        </v-flex>
        <v-flex xs2>
          <h4 style="text-align:right">Amount</h4>
        </v-flex>
      </v-layout>

      <hr>

      <v-layout row wrap>
        <v-flex xs2>
          Overtime
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_ot}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{ot}}
        </v-flex>
        <v-flex xs2>
          Absences
        </v-flex>
        <v-flex xs1>
          days
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_absent}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{absences}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
          Regular Holidays
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{reg_hour}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{reg_pay}}
        </v-flex>
        <v-flex xs2>
          Half days
        </v-flex>
        <v-flex xs1>
          no.
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_halfday}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{halfdays}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
        </v-flex>
        <v-flex xs1>
          OT hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{reg_ot}}
        </v-flex>
        <v-flex xs2 text-xs-right>
        </v-flex>
        <v-flex xs2>
          Late
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{num_lates}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{lates}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
          Special Holidays
        </v-flex>
        <v-flex xs1>
          hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{sp_hour}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{sp_pay}}
        </v-flex>
        <v-flex xs4>
          Cash Advance
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{ca}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs2>
        </v-flex>
        <v-flex xs1>
          OT hrs
        </v-flex>
        <v-flex xs1 text-xs-center>
          {{sp_ot}}
        </v-flex>
        <v-flex xs2 text-xs-right>
        </v-flex>
        <v-flex xs4>
          SSS Contribution
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.sss1 == null ? this.sss : this.sss1}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs4>
          SSS Premium
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.sss_pr == null ? this.sss_p : this.sss_pr}}
        </v-flex>
        <v-flex xs4>
          Pag-ibig Contribution
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.pag_ibig1 == null ? this.pag_ibig : this.pag_ibig1}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs4>
         Philhealth
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.phil_health1 == null ? this.phil_health : this.phil_health1}}
        </v-flex>
        <v-flex xs4>
          HDMF Contribution
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.hdmf1 == null ? this.hdmf : this.hdmf1}}
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs4>
         HDMF Premium
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{this.hdmf_pr == null ? this.hdmf_p : this.hdmf_pr}}
        </v-flex>
        <v-flex xs4 text-xs-right>
          <h4>Total Deduction</h4>
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{total_deduction}}
        </v-flex>
      </v-layout>
      <hr>
      <v-layout row wrap>
        <v-flex xs2>
         <h4>Total Benefits</h4>
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{total_benefits}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          <h4>Total Earnings</h4>
        </v-flex>
        <v-flex xs2 text-xs-right>
          {{total_earnings}}
        </v-flex>
        <v-flex xs2 text-xs-right>
          <h3>Net Pay</h3>
        </v-flex>
        <v-flex xs2 text-xs-right>
          <b style="font-size: 28px;">{{net_pay}}</b>
        </v-flex>
      </v-layout>
      <hr>
      <v-layout>
        <v-flex xs12>
           I hereby declare that I have reviewed this payroll and I don't have any questions or further clarifications.
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6>
          <b>Prepared By:</b>
        </v-flex>
        <v-flex xs6>
          <b>Approved By:</b>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6>
        </v-flex>
        <v-flex xs6>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs6>
          <b>Joanna Marie Blase</b><br>
          Administrator
        </v-flex>
        <v-flex xs6>
          <b>Nitish G. Khemani</b><br>
          Manager / Chief Technology Officer
        </v-flex>
      </v-layout>
    </v-container>

      
        </v-card>
      </v-dialog>

    </v-layout>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.space {
  margin-top:-20px;
}
h1, h2 {
  font-weight: normal;
}
h3 {
  font-weight: bold;
}
.border {
  padding: 5px;
  /* margin-top: -20px; */
  background-color: transparent ;
  /* text-align:right */
}
.border1{
    padding: 5px;
  /* margin-top: -20px; */
  background-color: #B39DDB;
  /* text-align:right */
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.avatar-holder {
  margin-top: 20px;
}

</style>

<script>
export default {
  data: () => ({
    event: false,
    dialog: false,
    notifications: false,
    sound: true,
    widgets: false,
    emp_salary: null,
    emp_salary1: null,
    num_absent: null,
    num_lates: null,
    num_halfday: null,
    names: null,
    ca: null,
    num_ot: null,
    sss: null,
    sss1: null,
    date: new Date().toDateString(),
    pag_ibig: null,
    pag_ibig1: null,
    sss_number: null,
    department: null,
    emp_num: null,
    tin_number: null,
    date_hired: null,
    cash_no: null,
    wDays: null,
    hdmf: null,
    hdmf1: null,
    sss_pr: null,
    sss_p: null,
    phil_health: null,
    phil_health1: null,
    hdmf_p: null,
    hdmf_pr: null,
    reg_hour: null,
    reg_ot: null,
    sp_hour: null,
    sp_ot: null,
    emp_name: [
      { name: 'Guy Romelle Magayano',
        salary: 12500,
        emp_num: 8,
        date_hired: 'May 5, 2017',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '34-5437282-8',
        tin_number: '458-986-320',
        cash_no: '---',
        sss: 65.40,
        sss_p: 190.75,
        pag_ibig: 30.9375,
        hdmf: 45,
        phil_health: 72.1875,
        hdmf_p: 105
      },
      { name: 'Rachel Ann G. Navarro',
        salary: 6000,
        emp_num: '---',
        date_hired: 'May 28, 2018',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      { name: 'Nitish Khemani',
        salary: 20000,
        emp_num: '---',
        date_hired: '---',
        department: 'Info Tech Dept',
        wDays: '---',
        sss_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: '---',
        sss_p: 581.30,
        pag_ibig: 400,
        hdmf: '---',
        phil_health: 275.00,
        hdmf_p: '---'
      },
      { name: 'Kristine Godoy',
        salary: 6000,
        emp_num: '---',
        date_hired: 'October 10, 2017',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '09-3118166-1',
        tin_number: '---',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      { name: 'Kent Fuenconcillo',
        salary: 7500,
        emp_num: '---',
        date_hired: 'May 12, 2017',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '09-4314302-4',
        tin_number: '--',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      { name: 'Joanna Marie Blase',
        salary: 7000,
        emp_num: '---',
        date_hired: 'February 1, 2018',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '09-3410667-2',
        tin_number: '---',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      { name: 'Mc Monde Meliton',
        salary: 7500,
        emp_num: '---',
        date_hired: 'March 6, 2018',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '---',
        tin_number: '---',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      },
      { name: 'Charmane Joy Rostace',
        salary: 6000,
        emp_num: '',
        date_hired: 'February 9, 2018',
        department: 'Info Tech Dept',
        wDays: 11,
        sss_number: '34-6880429-8',
        tin_number: '---',
        cash_no: '---',
        sss: 65.4,
        sss_p: 152.6,
        pag_ibig: 24.75,
        hdmf: 36,
        phil_health: 57.75,
        hdmf_p: 84
      }
    ]
  }),
  methods: {
    value: function (data) {
      this.emp_salary = data
    },
    empNum: function (data) {
      this.emp_num = data
    },
    hired: function (data) {
      this.date_hired = data
    },
    dept: function (data) {
      this.department = data
      console.log('Department:' + '' + data)
    },
    workDays: function (data) {
      this.wDays = data
    },
    tinNum: function (data) {
      this.tin_number = data
    },
    cashNum: function (data) {
      this.cash_no = data
    },
    sssNum: function (data) {
      this.sss_number = data
    },
    sssPremium: function (data) {
      this.sss_p = data
    },
    ssSystem: function (data) {
      this.sss = data
    },
    philhealth: function (data) {
      this.phil_health = data
    },
    pagIbig: function (data) {
      this.pag_ibig = data
    },
    hdmfPremium: function (data) {
      this.hdmf_p = data
    },
    hdmfContribution: function (data) {
      this.hdmf = data
    },
    update (payload) {
      this.event = payload
    }
  },
  computed: {
    total_deduction () {
      let calculation = this.ca * 1
      let deduc = ((this.sss1 == null ? this.sss : this.sss1) * 1) + ((this.pag_ibig1 == null ? this.pag_ibig : this.pag_ibig1) * 1) + ((this.hdmf1 == null ? this.hdmf : this.hdmf1) * 1)
      let deduction = (this.absences + this.lates + this.halfdays + calculation + deduc)
      return (Math.round(deduction * 100) / 100)
    },
    total_earnings () {
      let earning = (this.ot + this.reg_pay + this.sp_pay)
      return (Math.round(earning * 100) / 100)
    },
    sp_pay () {
      let perhour = (((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) / 11.5) / 8)
      let specialHourAdd = ((this.sp_hour * perhour) * 0.30)
      let specialHour = ((this.sp_hour * perhour) + specialHourAdd)
      let specialOtAdd = ((this.sp_ot * perhour) * 0.30)
      let specialOt = ((this.sp_ot * perhour) + specialOtAdd)
      let sp = (specialHour + specialOt)
      return (Math.round(sp * 100) / 100)
    },
    reg_pay () {
      let perhour = (((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) / 11.5) / 8)
      let regularHour = ((perhour * this.reg_hour) * 2)
      let regularOtAdd = ((this.reg_ot * perhour) * 0.30)
      let regularOt = ((this.reg_ot * perhour) + regularOtAdd)
      let regPay = (regularHour + regularOt)
      return (Math.round(regPay * 100) / 100)
    },
    total_benefits () {
      let calculation = ((this.sss_pr == null ? this.sss_p : this.sss_pr) * 1) + ((this.phil_health1 == null ? this.phil_health : this.phil_health1) * 1) + ((this.hdmf_pr == null ? this.hdmf_p : this.hdmf_pr) * 1)
      return (Math.round(calculation * 100) / 100)
    },
    ot () {
      let calculation = ((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) / 11.5) / 8
      let cal = (this.num_ot * calculation)
      return (Math.round(cal * 100) / 100)
    },
    halfdays () {
      let calculation = ((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) / 11.5) / 2
      let half = (this.num_halfday * calculation)
      return (Math.round(half * 100) / 100)
    },
    net_pay () {
      let total = ((((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) - this.total_deduction) + this.total_earnings) * 1.0)
      return (Math.round(total * 100) / 100)
    },
    absences () {
      let calculation = ((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) / 11.5)
      let absent = (this.num_absent * calculation)
      return (Math.round(absent * 100) / 100)
    },
    lates () {
      let calculation = ((this.emp_salary1 == null ? this.emp_salary : this.emp_salary1) / 11.5) / 8
      let late = (this.num_lates * calculation)
      return (Math.round(late * 100) / 100)
    }
  }
}
</script>