<template>
  <v-container fluid grid-list-md>
    <h1>Applicants</h1>
    <v-layout align-right>
    <v-flex lg10>
      <v-select
        :items="profiles"
        v-model="selectedData"
        label="Search Applicants"
        item-text="name"
        item-value="name"
        max-height="300"
        
        clearable
        autocomplete
      >
        <template slot="item" slot-scope="data">
          <template v-if="typeof data.item !== 'object'">
            <v-list-tile-content v-text="data.item"></v-list-tile-content>
          </template>
          <template v-else>
            <v-list-tile-avatar>
              <v-icon> portrait </v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
            </v-list-tile-content>
          </template>
        </template>
      </v-select>
    </v-flex>
      <v-flex>
    <v-btn slot="activator" color="light-blue" large @click.stop="dialog = !dialog" dark class="mb-2" depressed>Add new applicant</v-btn>
    </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" width="800px">
      <v-card>

         <v-stepper v-model="e1">
  
         <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="3"  @click.native="e1 = 1">Register New Applicant</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="3">
              <v-card color="grey lighten-3" class="mb-5" height="350px">
                <v-card-text>
                  <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12>
                            <v-text-field v-model="editedItem.name" label="Full Name"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md6>
                            <v-text-field v-model="editedItem.address" label="Address"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md6>
                            <v-text-field v-model="editedItem.bday" label="Birthday"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.date_applied" label="Contact Number"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.date_applied" label="Date Applied"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.interview_sched" label="Interview Schedule"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.pos" label="Applied position"></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                </v-card-text>
              </v-card>
            <v-btn color="primary" @click.native="save">Save</v-btn>
            <v-btn color="primary" flat @click.native="close">Cancel</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      </v-card>
    </v-dialog>
    <v-data-iterator 
      hover
      :items="employee"
      hide-actions
      content-tag="v-layout"
      row
      wrap
    >
      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        md4
        lg3
      >
      <v-card>
          <v-flex>
          <v-list dense class="empCard">
              <v-card-title> <h4> {{ props.item.name }} </h4> <v-spacer></v-spacer></v-card-title>
              <v-divider></v-divider>
            <v-list-content>
              <v-list-tile>
              <v-list-tile-title>Address:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.address }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title>Department:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.bday }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title>Date Applied:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.date_applied }}</v-list-tile-title>
            </v-list-tile>
             <v-list-tile>
              <v-list-tile-title>Interview:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.interview_sched }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title>Position Applied:</v-list-tile-title>
              <v-list-tile-title>{{ props.item.pos }}</v-list-tile-title>
            </v-list-tile>
            </v-list-content>
          <v-btn color="red" flat @click="deleteItem(props.item)">
            delete
          </v-btn>
          </v-list>
        </v-flex>
      </v-card>
              </v-flex>
    </v-data-iterator>
  </v-container>
</template>

<script>
/* eslint-disable */
export default {
  data: () => ({
    selectedData: null,
    e1: false,
    dialog: false,
    buttonclass: '',
    headers: [],
    employee: [],
    editedIndex: -1,
    profiles: [
      {
        id: 1,
        name: 'Ira Mae P. Gamban',
      },
      {
        id: 2,
        name: 'Shaina M. Ceniza',
      },
      {
        id: 3,
        name: 'Adrian M. Pacon',
      },
      {
        id: 4,
        name: 'Zia Gementiza',
      },
      {
        id: 5,
        name: 'Jaymar Mendoza',
      },
      {
        id: 6,
        name: 'John Celis',
      },
      {
        id: 7,
        name: 'Berwyn L. Dejanio',
      },
       {
        id: 8,
        name: 'Rex John G. Aragon',
      },
      {
        id: 9,
        name: 'Leonard Adam Lustre',
      }
    ],
    editedItem: {
      name: " ",
      address: " ",
      date_applied: " ",
      position: " ",
      bday: " ",
      pos: " ",
      interview_sched: " "
    },
    defaultItem: {
      name: " ",
      address: " ",
      date_applied: " ",
      position: " ",
      bday: " ",
      pos: " ",
      interview_sched: " "
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Register Employee' : 'Edit Employee'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      this.employee = [
        {
          name: 'Ira Mae P. Gamban',
          address: 'Davao City',
          bday: 'May 06, 1999',
          date_applied: '16/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Front-end Developer'
        },
        {
          name: 'Shaina M. Ceniza',
          address: 'Island Garden City of Samal',
          bday: 'August 26, 1998',
          date_applied: '16/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Full-stack Developer'
        },
        {
          name: 'Adrian M. Pacon',
          address: 'Kapalong, Davao del Norte',
          bday: 'February 22, 1999',
          date_applied: '16/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Web Developer'
        },
        {
          name: 'Zia Gementiza',
          address: 'Davao City',
          bday: 'April 01, 1999',
          date_applied: '16/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Programmer'
        },
        {
          name: 'Jaymar Mendoza',
          address: 'Davao City',
          bday: 'May 07, 1999',
          date_applied: '17/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Programmer'
        },
        {
          name: 'John Celis',
          address: 'Davao City',
          bday: 'November 09, 1997',
          date_applied: '17/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Programmer'
        },
        {
          name: 'Berwyn L. Dejanio',
          address: 'Davao City',
          bday: 'October 10, 1998',
          date_applied: '17/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Programmer'
        },
        {
          name: 'Rex John G. Aragon',
          address: 'Davao City',
          bday: 'January 06, 1998',
          date_applied: '17/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Programmer'
        },
        {
          name: 'Leonard Adam Lustre',
          address: 'Davao City',
          bday: 'December 09, 1997',
          date_applied: '17/07/2018',
          interview_sched: '18/07/2018',
          pos: 'Programmer'
        }
      ]
    },

    editItem (item) {
      this.editedIndex = this.employee.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.employee.indexOf(item)
      confirm('Are you sure you want to archive this employee?') &&
        this.employee.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.employee[this.editedIndex], this.editedItem)
      } else {
        this.employee.push(this.editedItem)
      }
      this.close()
    }
  }
}
</script>

<style>
.empCard{
  color: black;
  text-decoration: none;
}
</style>
