<template>
<v-container fluid>
  <v-layout row wrap>  
    <v-flex xs12 md12>
      <v-tabs
      v-model="active"
      light
      slider-color="blue darken-2"
       fixed-tabs
    >
      <v-tab
        v-for="(item, index) in 4"
        :key="index"
        ripple
       
      >
        {{ index == 0 ? 'Follow-Ups' : index == 1 ? 'Pending' : index == 2 ? 'Doing' : 'Done'}}

      </v-tab>
      <v-tab-item
        v-for="(item, index) in 4"
        :key="index"
      >
        <v-card flat>
          <v-card-text>
            <v-card color="grey lighten-3" class="mb-5"  v-show="index === 0">
                 <v-card>
        <v-toolbar color="blue" dark>

          <v-toolbar-title>Follow-up</v-toolbar-title>
        </v-toolbar>

        <v-list
          subheader
          three-line
        >
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Bansalana Website</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <divider></divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Mati Website + Tourism Page</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Bansalan Profiling</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Chicken Gwores (Pearl Blanca)</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>AEON Towers</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-divider></v-divider>
      </v-card>
          </v-card>
          <v-card color="grey lighten-3" class="mb-5"  v-show="index === 1">
                 <v-card color="grey lighten-3">
        <v-toolbar color="purple" dark>

          <v-toolbar-title>Pending</v-toolbar-title>
        </v-toolbar>

        <v-list
          subheader
          three-line
        >
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Bansalan Website</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Davao Website</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

        <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>DepEd HRIS</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>AEON Towers</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-divider></v-divider>
      </v-card>
              </v-card>
               <v-card color="grey lighten-3" class="mb-5"  v-show="index === 2">
                 <v-card>
        <v-toolbar color="orange darken-1" dark>
          <v-toolbar-title>Doing</v-toolbar-title>

        </v-toolbar>

        <v-list
          subheader
          three-line
        >
      

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>DOXA SYSTEM</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>DOXA WEBSITE</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-divider></v-divider>
      </v-card>
              </v-card>
              <v-card color="grey lighten-3" class="mb-5"  v-show="index === 3">
                 <v-card>
        <v-toolbar color="light-green" dark>
          <v-toolbar-title>Settings</v-toolbar-title>
        </v-toolbar>

        <v-list
          subheader
          three-line
        >
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Green Windows</v-list-tile-title>
              <v-list-tile-sub-title>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>PROJECT</v-list-tile-title>
              <v-list-tile-sub-title>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-divider></v-divider>
      </v-card>
              </v-card>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
    
    </v-flex>  
  </v-layout>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        notifications: false,
        sound: true,
        widgets: false
      }
    }
  }
</script>
